@page "{Id?}"
@model Exercise.Web.Pages.Companies.AddBusModel
@{
}

<form asp-page="/Companies/AddBus" method="post">
    <div class="form-group">
        <label>Color</label>
        <input asp-for="Bus.Color" class="form-control" />
    </div>
    
    <div class="form-group">
        <label>Expedition Number</label>
        <input asp-for="Bus.ExpeditionNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label>Bus Km</label>
        <input asp-for="Bus.Km" class="form-control" />
    </div>

    <div class="form-group">
        <label>Mark</label>
        <input asp-for="Bus.Mark" class="form-control" />
    </div>

    <div class="form-group">
        <label>Plate</label>
        <input asp-for="Bus.Plate" class="form-control" />
    </div>

    <div class="form-group">
        <label>Release Date</label>
        <input asp-for="Bus.ProductionDate" class="form-control" />

    </div>

    <div class="form-group">
        <label>Route</label>
        <input asp-for="Bus.Route" class="form-control" />
    </div>

    <div class="form-group">
        <label>Seat Count</label>
        <input asp-for="Bus.SeatCount" class="form-control" />
    </div>

    <button type="submit" class="btn-dark">Create</button>
</form>